<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="webds" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="filters">
			<value>stat</value>
		</property>
		<property name="maxActive">
			<value>20</value>
		</property>
		<property name="initialSize">
			<value>1</value>
		</property>
		<property name="maxWait">
			<value>60000</value>
		</property>
		<property name="minIdle">
			<value>1</value>
		</property>
		<property name="timeBetweenEvictionRunsMillis">
			<value>60000</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>300000</value>
		</property>
		<property name="validationQuery" value="SELECT 'x'"></property>
		<property name="testWhileIdle">
			<value>true</value>
		</property>
		<property name="testOnBorrow">
			<value>false</value>
		</property>
		<property name="testOnReturn">
			<value>false</value>
		</property>
		<property name="poolPreparedStatements">
			<value>true</value>
		</property>
		<property name="maxOpenPreparedStatements">
			<value>20</value>
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis_config.xml" />
		<property name="dataSource" ref="webds" />
		<property name="mapperLocations">
			<array>
				<value>classpath:com/cactus/guozy/admin/dao/xml/*.xml</value>
				<value>classpath:com/cactus/guozy/core/dao/xml/*.xml</value>
				<value>classpath:com/cactus/guozy/common/config/dao/*.xml</value>
				<value>classpath:com/cactus/guozy/common/cms/dao/*.xml</value>
				<value>classpath:com/cactus/guozy/profile/dao/*.xml</value>
				<value>classpath:mappers/*.xml</value>
			</array>
		</property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>

	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
   		<property name="basePackage" value="com.cactus.guozy.admin.dao;
							        		com.cactus.guozy.core.dao;
							        		com.cactus.guozy.common.config.dao;
							        		com.cactus.guozy.common.cms.dao;
							        		com.cactus.guozy.profile.dao;
							        		com.cactus.guozy.common.schedule.dao"/>
	    <property name="properties">
	        <value>
	            mappers=tk.mybatis.mapper.common.Mapper,tk.mybatis.mapper.common.IdsMapper
	        </value>
	    </property>
	</bean>

</beans>
